<div class="row container-fluid">
  <div class="col-sm-2 border border-light">
    <div class="dropdown mt-2 dropright">
      <button class="btn btn-primary btn-sm btn-warning btn-block text-left dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Campañas
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <div ng-repeat="campaign in preplay">
          <a class="dropdown-item" ui-sref="preplay.campaigns({ idcamp: campaign.id })" ui-sref-active="active">
            {[campaign.descripcion]}
            <img ng-src="../img/icons/candado_cerrado.png" class="float-right" height="20px" />
          </a>       
        </div>
      </div>
    </div>
    <div class="mt-1">
      <button class="btn btn-primary btn-sm btn-warning btn-block text-left" aria-haspopup="true" aria-expanded="false">
        Especiales
      </button>
    </div>
    <div class="mt-1">
      <button class="btn btn-primary btn-sm btn-warning btn-block text-left" aria-haspopup="true" aria-expanded="false">
        Casuales
      </button>
    </div>
  </div>
  <div class="col-sm-10 border border-light" ui-view="contCol">
  </div>
</div>
